
﻿################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/TranslationConverter/.vs/*
/TranslationConverter/TranslationConverter/obj
/TranslationConverter/TranslationConverter/bin/*
